<h3>Add Post</h3>
<a class="btn btn-info" href="/#!/list">Back</a>
<form ng-submit="FormCtrl.onSubmit()">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" class="form-control" ng-model="FormCtrl.post.title">
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" id="author" name="author" class="form-control" ng-model="FormCtrl.post.author">
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea name="body" id="body" cols="30" rows="10" class="form-control" ng-model="FormCtrl.post.body"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>